*synctex.gz
*eps-converted-to.pdf

*.bbl

*.aux

*.blg

*.log

manuscript/main.synctex.gz

manuscript/main.pdf

*.DS_Store

*.csv

*.h5

*.py~

*.pyc

*.py~

manuscript/.DS_Store

*.pyc

figures/.DS_Store

.DS_Store

*.pyc
